<header class="header">
  <div class="container">
    <section class="header__main">
      <a href="/" class="header__logo logo"><span class="logo_thin">М</span><span class="logo_fat">П</span></a>
      <div class="header__menu navbar">
        <nav class="navbar__main">
          <ul class="navbar__list">
            <li><a href="/" class="navbar__item">Главная</a></li>
            <li><a href="#" class="navbar__item">О проекте</a></li>
          </ul>
        </nav>
      </div>
    </section>
  </div>
</header>