{% extends 'base.html' %}

{% block content %}
      <section class="content">
        <div class="container">
          <div class="content__main">
            <p class="content__description">Хотите сохранить большое количество данных  <br>
              с различных сайтов и других источников? <br>
              У вас есть подходящий инструмент.</p>
            <div class="content__line"></div>
            <h1 class="content__title title"><span class="title_thin">Мульти</span><span class="title_fat">Парсер</span></h1>
            <h2 class="content__subtitle">Новый опыт в сборе информации</h2>
            <a href="/MultiParser" class="content_button">ПОПРОБОВАТЬ</a>
          </div>
        </div>
      </section>

{% endblock %}