@charset "UTF-8";

/* Fonts ***********/
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Thin.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Thin.woff") format("woff"), url("../../static/fonts/Montserrat-Thin.ttf") format("truetype"), url("../../static/fonts/Montserrat-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Light.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Light.woff") format("woff"), url("../../static/fonts/Montserrat-Light.ttf") format("truetype"), url("../../static/fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Regular.woff") format("woff"), url("../../static/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../static/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Bold.woff") format("woff"), url("../../static/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../static/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/********************/
/* Reset styles ***********/
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  font-size: 100%;
  height: 100%;
  line-height: 1;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}
/**************************/

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #4da0a8;
  box-shadow: inset 0.3rem 0.3rem 0.63rem #041517, inset -0.3rem -0.3rem 0.6rem #3a6665;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
/* Header *****************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.logo {
  font-size: 36px;
  color: hsl(185, 58%, 65%); /* #71d1d9; */
}
.logo_thin {
  font-weight: 300;
}
.logo_fat {
  font-weight: 600;
}
.btn {
  grid-column: 0.5;
  grid-row: 0.8333333333;
  border-radius: 5px;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.03rem;
  width: 100px;
  height: 40px;
  box-shadow: 0.05rem 0.05rem 0.2rem #041517, -0.05rem -0.05rem 0.2rem #498180;
  background-color: #63b8bf;
  border: solid 1px #11565e;
  color: #a3eaf0;
}

.header__btn {
  font-weight: 600;
}
.btn:hover {
  box-shadow: none;
  border: solid 1px #11565e;
  background-color: #4da0a8;
  color: #71d1d9;
  font-size: 1rem;
}
.btn:active {
  box-shadow: inset 0.05rem 0.05rem 0.02rem #041517, inset -0.05rem -0.05rem 0.02rem #498180;
  background-color: #3f828a;
  color: #4da0a8;
  font-size: .97rem;
}
.logo_embossed, .btn_embossed, .search-box__title, .create-box__title, .preview__bool {
	text-shadow:
		0.025rem 0.05rem 0.05rem #041517,
		-0.025rem -0.05rem 0.05rem #498180;
}

.engraved
{
	text-shadow:
		-0.025rem -0.05rem 0.05rem black,
		0.025rem 0.05rem 0.05rem white;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/**************************/
/* Main content ***********/
.main__content {
}
.content__preview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 250px;
  padding: 0 75px;
}
.search-box__title, .create-box__title {
  font-size: 24px;
  font-weight: 500;
  color: #71d1d9;
  margin: 0 0 25px 0;
  align-self: center;
}
.preview__search, .create-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-box__search {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
  display: flex;
  align-items: center;
}
.search__input {
  min-width: 125px;
  min-height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 400;
  padding-left: 3.8rem;
  box-shadow: inset 0.1rem 0.1rem 0.3rem #041517, inset -0.1rem -0.1rem 0.3rem #498180;
  background: #3f828a;
  font-family: inherit;
  color: #54afb8;
  text-shadow:
		0.025rem 0.05rem 0.05rem #041517,
		-0.025rem -0.05rem 0.05rem #498180;
}

.search__input::placeholder {
  font-weight: 600;
  color: #306369;
  text-shadow:
		-0.025rem -0.05rem 0.05rem black,
		0.025rem 0.05rem 0.05rem #498180;
}
.search__input:focus {
  outline: none;
}
.search__input:focus + .search__icon {
  color: #a3eaf0;
}
.search__icon {
  height: 30px;
  position: absolute;
  font-size: 30px;
  padding: 0 1rem;
  display: flex;
  color: #306369;
  transition: 0.3s ease;
  text-shadow:
		-0.025rem -0.05rem 0.05rem black,
		0.025rem 0.05rem 0.05rem #498180;
}
.preview__y-line {
  display: block;
  position: relative;
  width: .005rem;
  height: 120px;
  margin: 30px 0 0 0;
  background-color: #498180

}
.preview__bool {
  position: absolute;
  top: 50px;
  left: -1.49rem;
  color: #71d1d9;
  font-size: 18px;
}
.preview__create-box {
}
.create-box__btn {
  font-weight: 600;
  width: 125px;
}
.create-box__title {
}



/**************************/
