@charset "UTF-8";

/* Fonts ***********/
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Thin.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Thin.woff") format("woff"), url("../../static/fonts/Montserrat-Thin.ttf") format("truetype"), url("../../static/fonts/Montserrat-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Light.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Light.woff") format("woff"), url("../../static/fonts/Montserrat-Light.ttf") format("truetype"), url("../../static/fonts/Montserrat-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Regular.woff") format("woff"), url("../../static/fonts/Montserrat-Regular.ttf") format("truetype"), url("../../static/fonts/Montserrat-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../static/fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../static/fonts/Montserrat-Bold.woff") format("woff"), url("../../static/fonts/Montserrat-Bold.ttf") format("truetype"), url("../../static/fonts/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
/********************/
/* Reset styles ***********/
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a:focus, a:active {
  outline: none;
}
nav, footer, header, aside {
  display: block;
}
html, body {
  font-size: 100%;
  height: 100%;
  line-height: 1;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}
/**************************/

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: linear-gradient(#4da0a8, #041517);
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.logo {
  font-size: 36px;
  color: hsl(185, 58%, 65%); /* #71d1d9; */
}
.logo_thin {
  font-weight: 300;
}
.logo_fat {
  font-weight: 600;
}
.header__btn {
  grid-column: 0.5;
  grid-row: 0.8333333333;
  color: #a3eaf0;
  font-weight: 600;
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0.05rem 0.05rem 0.2rem #041517, -0.05rem -0.05rem 0.2rem #498180;
  background-color: #63b8bf;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: solid 1px #11565e;
}
.btn:hover {
  box-shadow: none;
  border: solid 1px #11565e;
  background-color: #4da0a8;
  color: #71d1d9;
}
.btn:active {
  box-shadow: inset 0.05rem 0.05rem 0.02rem #041517, inset -0.05rem -0.05rem 0.02rem #498180;
  background-color: #3f828a;
  color: #4da0a8;
}
.logo_embossed, .btn_embossed {
	text-shadow:
		0.025rem 0.05rem 0.05rem #041517,
		-0.025rem -0.05rem 0.05rem #498180;
}

.engraved
{
	text-shadow:
		-0.025rem -0.05rem 0.05rem black,
		0.025rem 0.05rem 0.05rem white;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
