<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="favicon.png") }}" sizes="96x96">

  <link rel="stylesheet" href="{{ url_for("static", filename="css/styles.css") }}">
  <link rel="stylesheet" media="all" href="{{ url_for("static", filename="css/media.css") }}">

  <title>title</title>
</head>
<body>
  <main class="wrapper">
    {% block header %}
      {% include "header.html" %}
    {% endblock %}
    <section class="content">
      <div class="container">
        <div class="content__main main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </section>
    {# {% block footer %}
      {% include "footer.html" %}
    {% endblock %}  #}
  </main>
</body>
</html>