<!DOCTYPE html>
<html>
  <head>
    <title>BlankProject</title>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  </head>
  <body>
    <header>
      <p>
        Header Slim
      </p>
    </header>
    <p>
      Hello Slim
    </p>
    <footer>
      <p>
        Footer Slim
      </p>
    </footer>
  </body>
  <script>
    let blurred = false; window.onblur = function () { blurred = true; };
    window.onfocus = function () { blurred && (location.reload()); };
  </script>
</html>
